<div class="md-col-8">
    <div class="input-group">
        <input focus-on="notAddingMoreItems" class="form-control input-lg" autofocus="autofocus" ng-model="searchText" type="text" placeholder="<%= __('Buscar por código, descripción, categorías, palabras clave...') %>">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-search"></i> </button>
            </span>
        </div>
    </div>
</div>
