
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <div ng-controller="ItemsCtrl">
        Nombre: <input id="nuevonombre" ng-model="newItem.nombre"/> : Precio  <input id="nuevoprecio" ng-model="newItem.precio"/>  <a href="" id="agregar" ng-click="ListaPrecioss.push(newItem);newItem={}">Add New</a>
        <ul id="lista">
            <li ng-repeat="item in ListaPrecioss">{{item.nombre}} - {{item.precio}} <a href="" ng-click="ListaPrecioss.splice(ListaPrecioss.indexOf(item), 1)">borrar</a></li>
        </ul>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>