<div class="container" ng-controller="ItemsCtrl">
    <div class="row">
        <div class="md-col-8">
            <div class="input-group">
                <input class="form-control input-lg" autofocus="autofocus" ng-model="searchText" type="text" placeholder="<%= __('Buscar por código, descripción, categorías, palabras clave...') %>">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-search"></i> </button>
                </span>
            </div>
        </div>
        <br/>
        <div class="md-col-10">
            <table id="lista" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'success': $index == focusIndex }" dt-rows ng-repeat="item in ListaPrecioss | filter:searchText">
                    <td><span editable-text="item.nombre">{{item.nombre}}</span></td>
                    <td><span  editable-text="item.precio">{{item.precio}}</span></td>
                    <td><a href="" ng-click="ListaPrecioss.splice(ListaPrecioss.indexOf(item), 1)">borrar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div
        <form novalidate role="form">
            Nombre: <input type="text" id="nuevonombre" ng-model="newItem.nombre"/> <%= __('Precio') %>  <input id="nuevoprecio" ng-model="newItem.precio"/>  <button href="" id="agregar" class="btn btn-active" ng-click="add()"> <%= __('Agregar')%></button>
        </form>
    </div>
</div> <!-- /container -->

